#title {
    margin-top: 50px;
}

#main-info {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    margin-top: 100px;
}

#main-info .map {
    width: 640px;
    height: auto;
    aspect-ratio: 16/9;

    transition-delay: var(--transition-duration-medium);
    transition-duration: var(--transition-duration-short);
}

#main-info .map.inactive {
    opacity: 0;
}

#main-info .map.active {
    opacity: 1;
}

#main-info .wrapper {
    height: 100%;
}

#main-info .map iframe {
    width: 100%;
    height: 100%;
    outline: 1px solid var(--content-color-outline);
}

#main-info .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
}

#main-info .info a.phone::before {
    background-image: url("../images/icons/phone.png");
}

#main-info .info a.mail::before {
    background-image: url("../images/icons/email.png");
}

#main-info .info a.location::before {
    background-image: url("../images/icons/location.png");
}

#main-info .info a {
    position: relative;
    line-height: 2;
    margin-left: 50px;
}

#main-info .info a::before {
    content: "";
    position: absolute;
    z-index: 11;
    width: 22px;
    height: 22px;
    left: -50px;
    padding: 3px;
    border-radius: 8px;
    background-size: 19px 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--content-color-outline);

    transition: background-color 0.2s;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    padding-bottom: 100px;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#contact-form .fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

#contact-form .field {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#contact-form .field input {
    outline: 0px;
    padding: 3px;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    transition-duration: var(--transition-duration-short);
}

#contact-form .field input:focus {
    border-color: var(--content-color-secondary);
}

#contact-form .message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#contact-form .message textarea {
    padding: 10px;
    letter-spacing: 2px;
    outline: 0px;
    border-radius: 0px;
    resize: none;
    transition-duration: var(--transition-duration-short);
}

#contact-form .message textarea:focus {
    border-color: var(--content-color-secondary);
}

#contact-form .submit {
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: normal;
    font-family: poppins-extra-light;
    padding: 10px 0px 10px 0px;
    min-width: 50%;
    font-size: 24px;
    background-color: var(--content-color-main);
    border-width: 1px;
    border-color: var(--content-color-outline);
    border-style: solid;
    cursor: pointer;

    transition-duration: var(--transition-duration-short);
}

@media (hover: hover) {
    #main-info .info a:hover {
        color: var(--content-color-secondary);
    }

    #main-info .info a:hover::before {
        background-color: var(--content-color-secondary);
    }
    
    #contact-form .submit:hover {
        border-color: var(--content-color-secondary);
        color: var(--content-color-secondary);
    }
}

@media not (hover: hover) {
    #main-info .info .vertical-line {
        display: none;
    }
}

@media (max-width: 1280px) {
    #contact-form form {
        padding: 0px 50px 0px 50px;
    }
}

@media (width < 1280px) {
    #contact-form .fields {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    #main-info {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 50px;
    }

    #main-info .info {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        padding: 0px 0px 40px 0px;
    }
}

@media (max-width: 768px) {
    #title {
        margin-top: 20px;
    }
    
    .heading h1 {
        font-size: 24px;
    }
}

@media (width < 768px) {
    #main-info .map {
        width: 100%;
    }

    #main-info .wrapper {
        margin: 0px 20px 0px 20px;
    }

    #contact-form {
        padding-bottom: 50px;
    }

}

@media (max-width: 425px) {
    #contact-form {
        gap: 30px;
    }

    #contact-form form {
        padding: 0px 20px 0px 20px;
        gap: 30px;
    }

    #contact-form .fields {
        gap: 30px;
    }

    #contact-form .submit {
        min-width: auto;
        padding: 5px 20px 5px 20px;
        font-size: 20px;
    }

    .heading h1 {
        font-size: 22px;
    }

    #main-info .info {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 375px) {
    #main-info {
        margin-top: 0px;
    }

    #contact-form {
        gap: 20px;
    }

    #contact-form .field {
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }
}