.space {
    width: 100%;
    height: 100px;
}

#hero-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;

    /* REMOVE THIS */
    background-image: url("../images/pages/index-main-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: local;
}

#hero-image::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 16px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, var(--content-color-main) 100%);
}

#hero-image img {
    width: 100%;
    display: none;
}

#hero-image .content {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-image .content .title {
    position: relative;
    margin: 0px;
    padding: 0px 100px 0px 105px;
    font-size: 40px;
    word-spacing: 3px;
    letter-spacing: 8px;
    z-index: 1;
    font-family: poppins-extra-light;
    font-weight: normal;
    text-shadow: 3px 0px var(--content-color-text);

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}

#hero-image .content .title.inactive {
    clip-path: inset(-1% 50%);
    opacity: 0;
}

#hero-image .content .title.active {
    clip-path: inset(-1% -1%);
    opacity: 1;
}

#hero-image .content .title::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -5px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: var(--content-color-main);
    opacity: 0.8;
}

#showcase {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 100px;
}

#showcase article {
    --transition-duration: 1s;
    --vertical-offset: 100px;

    position: relative;
    margin-bottom: var(--vertical-offset);

    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
#showcase article .heading {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#showcase article .heading h1 {
    font-size: 30px;
    z-index: 2;
    padding: 0px 5px 0px 5px;
    font-family: poppins-extra-light;
    width: fit-content;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    background-color: var(--content-color-main);

    transition-duration: calc(var(--transition-duration) / 2);
}

#showcase article .heading.active h1 {
    opacity: 1;
}

#showcase article .heading.inactive h1 {
    opacity: 0;
}

#showcase article .heading::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--content-color-outline);
    transition-duration: var(--transition-duration);
    transition-delay: calc(var(--transition-duration) / 2);
}

#showcase article .heading.inactive::before {
    transform: scaleX(0);
}

#showcase article .heading.active::before {
    transform: scaleX(1);
}*/

#showcase article img {
    width: 854px;
    height: 480px;
    object-fit: cover;
    object-position: center;
    outline: 1px solid var(--content-color-outline);
}

#showcase article.left img {
    align-self: flex-start;
}

#showcase article.right img {
    align-self: flex-end;
}

#showcase article.center img {
    align-self: center;
}

#showcase article .text::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;

    outline: 1px solid var(--content-color-outline);
    background-color: var(--content-color-main);
    opacity: 0.9;
}

#showcase article .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 30px;
    gap: 20px;
    max-width: 640px;
    left: 50%;
    right: auto;
    bottom: calc(-1 * var(--vertical-offset));

    transition-duration: var(--transition-duration);
}

#showcase article.left .text {
    left: 50%;
    right: auto;
}

#showcase article.right .text {
    left: auto;
    right: 50%;
}

#showcase article.center .text {
    left: auto;
    right: auto;
    gap: 20px;
}

#showcase article .text.left {
    left: 50%;
    right: auto;
}

#showcase article .text.right {
    left: auto;
    right: 50%;
}

#showcase article .text.center {
    left: auto;
    right: auto;
    gap: 20px;
}

#showcase article.inactive .text {
    transform: translateY(50px);
    opacity: 0;
}

#showcase article.active .text {
    transform: translateY(0px);
    opacity: 1;
}

#showcase article .text p {
    text-align: justify;
    margin: 0px;
    word-spacing: 8px;
    line-height: 2;
}

#showcase article .text h2 {
    margin: 0px;
    font-family: poppins-extra-light;
    text-align: center;
    font-weight: 600;
}

#showcase article .text a {
    align-self: flex-end;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}

@media (max-width: 1280px) {
    #hero-image .content .title {
        text-shadow: 0px 0px;
    }

    #showcase {
        gap: 200px;
    }

    #showcase article {
        padding: 0px 20px 0px 20px;
    }

    #showcase article.left .text {
        left: auto;
        right: 60px;
    }
    
    #showcase article.right .text {
        left: 60px;
        right: auto;
    }
    
    #showcase article.center .text {
        left: auto;
        right: auto;
    }

    #showcase article img {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    #showcase article.left img {
        align-self: auto;
    }
    
    #showcase article.right img {
        align-self: auto;
    }
    
    #showcase article.center img {
        align-self: auto;
    }
}

@media (width < 1024px) {
    #hero-image .content .title {
        font-size: 30px;
        padding: 0px 20px 0px 25px;
    }

    #showcase {
        gap: 50px;
        margin-bottom: 50px;
    }

    #showcase article {
        padding: 0px;
        margin-bottom: 0px;
    }

    #showcase article .heading h1 {
        font-size: 26px;
    }

    #showcase article .text {
        gap: 10px;
    }

    #showcase article.center .text {
        gap: 10px;
    }

    #showcase article .text p {
        font-size: 14px;
    }
    
    #showcase article .text h2 {
        font-size: 22px;
    }
    
    #showcase article .text a {
        font-size: 11px;
    }

    #showcase article.left .text {
        left: auto;
        right: auto;
    }
    
    #showcase article.right .text {
        left: auto;
        right: auto;
    }
    
    #showcase article.center .text {
        left: auto;
        right: auto;
        max-width: auto;
    }

    #showcase article .text.left {
        left: auto;
        right: auto;
    }
    
    #showcase article .text.right {
        left: auto;
        right: auto;
    }
    
    #showcase article .text.center {
        left: auto;
        right: auto;
        max-width: auto;
    }

    #showcase article .text {
        max-width: auto;
        left: auto;
        right: auto;
        position: relative;
        bottom: 64px;
    }
}

@media (width < 768px) {
    .space {
        height: 50px;
    }

    #hero-image .content .title {
        font-size: 24px;
        text-align: center;
        padding: 0px 10px 0px 15px;
        letter-spacing: 2px;
    }

    #showcase {
        gap: 100px;
    }

    #showcase article.center {
        margin-bottom: 0px;
    }

    #showcase article .heading h1 {
        font-size: 18px;
    }

    #showcase article .text p {
        font-size: 12px;
    }
    
    #showcase article .text h2 {
        font-size: 18px;
    }
    
    #showcase article .text a {
        font-size: 10px;
    }

    #showcase article .text::before {
        outline: 0px;
        background-color: unset;
    }

    #showcase article img {
        outline: 0px;
    }

    #showcase article .text {
        bottom: 0px;
    }
}

@media (width < 425px) {
    #hero-image .content .title {
        font-size: 20px;
    }

    #showcase {
        gap: 50px;
    }
}

@media (width < 375px) {
    #hero-image .content .title {
        font-size: 18px;
    }
}