#slideshow {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 150px;
}

#slideshow .main-image {
    width: 1280px;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
       object-fit: cover;
    outline: 1px solid var(--content-color-outline);
}

#slideshow .images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: auto;
    gap: 60px;
    padding-bottom: 30px;
}

#slideshow .images img {
    aspect-ratio: 16/9;
    width: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 1px solid var(--content-color-outline);
}

#main-info {
    margin-bottom: 50px;
}

#main-info.inactive {
    margin-bottom: 0px;
}

#main-info .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-info .text p {
    max-width: 50%;
    text-align: justify;
    margin: 0px;
}

#main-info .text p.inactive {
    display: none;
}

#main-info .text ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: 0px;
}

#main-info .text ul.inactive {
    display: none;
}

main.inactive {
    display: none;
}

main.active {
    display: block;
}

#error h1 {
    width: 100%;
    text-align: center;
}

#error.inactive {
    display: none;
}

#error.active {
    display: block;
}

footer.inactive {
    display: none;
}

@media (max-width: 1280px) {
    main {
        padding: 0px 20px 0px 20px;
    }

    #slideshow .main-image {
        width: 100%;
    }

    #main-info .text ul {
        padding-left: 25px;
    }
}

@media (max-width: 768px) {
    #slideshow .images {
        gap: 30px;
        padding-bottom: 10px;
    }

    #slideshow .images img {
        width: 40%;
    }

    #slideshow {
        gap: 30px;
        margin-bottom: 100px;
    }
}

@media (width < 768px) {
    #main-info .text {
        flex-direction: column;
        gap: 30px;
    }

    #main-info .text p {
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        align-self: center;
    }

    #slideshow {
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    main {
        padding: 10px;
    }

    #main-info .text ul {
        gap: 10px;
        padding-left: 20px;
    }
}